@charset "UTF-8";
.imgClimaybalnearios {
  height: 15em;
  width: 25em; }

/*FOR tamaño de los titulos*/
h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.33333em; }

/*MAPS PALETA COLORES */
.blanco {
  color: #ffffff; }

.bordo {
  color: #551400; }

.gris {
  color: #66593f; }

.naranja {
  color: #e77e01; }

/*HEADER*/
.header {
  height: 62vh;
  background-color: #2E2318;
  /* fondo por si la imagen no carga*/
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .header section nav div img {
    width: 6em;
    height: 5em; }

/*BODY*/
#body {
  background-color: whitesmoke; }

/*FOOTER*/
#footer {
  background-color: #e7e7e7;
  box-shadow: -2px 1px 11px rgba(0, 0, 0, 0.425);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #footer #redes {
    display: inline-block; }
    #footer #redes a img {
      width: 40px; }
  #footer p {
    text-align: center; }

/*PAGE ERROR*/
.headerError {
  background-image: url(../images/portadaerror.jpg); }

section .h2Error {
  margin: 60px 68px; }

.errorFlex {
  display: flex;
  flex-direction: row; }
  .errorFlex .pageError {
    position: relative; }
    .errorFlex .pageError a .volver {
      color: lemonchiffon;
      position: absolute;
      bottom: 132px;
      left: 270px;
      text-align: center;
      letter-spacing: 5px;
      z-index: 2;
      font-size: 60px;
      font-weight: 500; }
    .errorFlex .pageError a .volver:hover {
      font-size: 65px; }
    .errorFlex .pageError a section {
      width: 23em;
      height: 6em;
      margin-bottom: 8em;
      margin-left: 14em;
      border-radius: 51px;
      padding: 3px;
      background-color: #000000bd;
      z-index: 1;
      position: absolute;
      /*tmb  su relative .sectionexcursiones*/
      bottom: 4px; }
    .errorFlex .pageError .imgError {
      margin-left: 20px;
      padding: 0px;
      border-radius: 10px;
      width: 50em;
      height: 30em; }
  .errorFlex section {
    margin: 16px 41px; }
    .errorFlex section h2 {
      margin: 52px 9px;
      width: 11em;
      font-family: monospace; }
    .errorFlex section img {
      width: 5em;
      height: 5em; }

.titulosH1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500em;
  margin-top: 1em;
  padding-top: 195px;
  text-align: center; }

.titulosH2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.titulosh3B {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  color: #551400;
  font-size: 2em;
  font-style: italic;
  font-weight: 500;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425);
  width: 8em;
  text-align: center;
  background: linear-gradient(131deg, #fcfcfc 3%, #ededed 15%, rgba(213, 213, 213, 0.616684) 82%, white 100%); }

.titulosH3 {
  color: #66593f;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  font-style: italic;
  text-align: left;
  text-transform: uppercase; }

#margen {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px; }

p {
  margin: 1rem; }

#resumido {
  display: none; }

p {
  text-align: justify; }

/*PAGE HOME*/
/*declarando grid area*/
#header {
  grid-area: header; }

#main {
  grid-area: main; }

#aside {
  grid-area: aside; }

#table {
  grid-area: table; }

/*grid container*/
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-template-areas: "main main main" "table table aside"; }

.sectionexcursionesPadre {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .sectionexcursionesPadre .sectionExcursiones {
    padding: 12px;
    position: relative; }
    .sectionexcursionesPadre .sectionExcursiones a h3 {
      color: white;
      position: absolute;
      bottom: 25px;
      left: 22px;
      text-align: center;
      letter-spacing: 5px;
      z-index: 2;
      font-size: 40px;
      font-weight: 500; }
    .sectionexcursionesPadre .sectionExcursiones a h3:hover {
      font-size: 43px;
      font-weight: 500; }
    .sectionexcursionesPadre .sectionExcursiones a section {
      width: 368px;
      height: 35px;
      margin-bottom: 23px;
      padding: 3px;
      background-color: #e77e0185;
      z-index: 1;
      position: absolute;
      /*tmb  su relative .sectionexcursiones*/
      bottom: 4px; }
    .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
      border-radius: 10px;
      width: 23em;
      height: 15em;
      box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425); }

#sectionTable {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px; }
  #sectionTable caption {
    font-family: 'Roboto', sans-serif;
    font-size: 1,7em;
    font-weight: 500;
    font-style: italic;
    caption-side: bottom;
    color: #66593f;
    text-align: right;
    letter-spacing: 1px; }
  #sectionTable thead tr th {
    color: #551400; }
  #sectionTable tbody tr td {
    background-color: #e0e0e087;
    width: 10em;
    text-align: center; }
    #sectionTable tbody tr td ul {
      width: 24em;
      margin-left: 2em; }
      #sectionTable tbody tr td ul li {
        color: #e77e01;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px; }

aside {
  justify-self: center;
  margin-top: 60px;
  width: 20em;
  height: 45em; }
  aside section {
    width: 18em; }
    aside section h3 {
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 1.25em;
      font-weight: 550;
      font-style: italic;
      text-align: left;
      text-transform: uppercase; }
  aside section ul li a {
    color: #551400; }

/*PAGE TURISMO*/
.card:hover {
  background-color: rgba(56, 56, 56, 0.048);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.116); }

.sectionTurismo {
  margin-top: 70px;
  background-color: whitesmoke; }
  .sectionTurismo section {
    padding: 10px 0px; }
    .sectionTurismo section .paseos {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .sectionTurismo section .paseos div {
        margin-bottom: 30px; }
        .sectionTurismo section .paseos div img {
          border-radius: 10px;
          width: 368px;
          height: 240px; }
        .sectionTurismo section .paseos div img:hover {
          box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425); }
        .sectionTurismo section .paseos div p {
          width: 20em;
          margin-top: 20px;
          text-align: justify; }

/*PAGE BALNEARIOS*/
.imgClimaybalnearios {
  height: 15em;
  width: 21em;
  border-radius: 10px; }

.imgClimaybalnearios:hover {
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425); }

section div .listaBalnearios {
  padding: 19px 81px;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  section div .listaBalnearios li {
    list-style-type: none;
    width: 236px;
    height: 100px;
    padding-left: 27px; }
    section div .listaBalnearios li h3 {
      color: #551400;
      font-family: 'Roboto', sans-serif;
      font-size: 1,7em;
      font-weight: 500;
      font-style: italic;
      text-align: left; }
    section div .listaBalnearios li a {
      color: #e77e01; }

/*PAGE CLIMA*/
.galeriaImagenes {
  padding: 26px 70px;
  margin: 0px 0px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

#climaFlex {
  display: flex;
  flex-direction: column; }

#microclima {
  animation-name: microclimaAnimacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s;
  height: 50px; }

/*ANIMACION DE H2*/
@keyframes microclimaAnimacion {
  0% {
    color: #551400;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: left; }
  20% {
    font-size: 34px;
    font-weight: 450;
    color: #6d4a09; }
  40% {
    font-size: 36px;
    font-weight: 450;
    color: #e77e01; }
  60% {
    font-size: 34px;
    font-weight: 450;
    color: #6d4a09; }
  100% {
    font-size: 32px;
    font-weight: 450;
    color: #551400; } }

/*PAGE BLOG*/
.container {
  margin-top: 25px;
  margin-bottom: 40px; }

.fondoBlog {
  background-color: whitesmoke; }

#articulosFlex {
  display: flex;
  flex-direction: column;
  align-items: center; }

article {
  margin-top: 20px;
  margin-bottom: 20px; }
  article div h2 {
    text-align: center; }
  article div .imgBlog {
    margin: 25px 0px;
    padding: 0px;
    border-radius: 10px;
    width: 50em;
    height: 30em; }
  article div .imgBlog:hover {
    border: 3px solid #e77e01; }
  article div p {
    text-align: center;
    width: 48em; }

/*PAGE CONTACTO*/
#contactoFlex {
  display: flex;
  flex-direction: column; }

#interesado {
  color: #e77e01; }

fieldset {
  /*gradiente*/
  background: white;
  background: linear-gradient(82deg, white 0%, rgba(140, 146, 147, 0.286152) 100%);
  box-shadow: -2px 1px 11px rgba(0, 0, 0, 0.425);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px; }
  fieldset legend {
    margin-top: 30px;
    margin-bottom: 50px; }
  fieldset form {
    margin-top: 30px;
    margin-bottom: 20px; }

/*RESPONSIVE 1200PX ====================================================================== */
@media only screen and (max-width: 1200px) and (min-width: 412px) {
  /*HOME*/
  .sectionexcursionesPadre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .sectionexcursionesPadre .sectionExcursiones a h3 {
      font-size: 28px; }
    .sectionexcursionesPadre .sectionExcursiones a h3:hover {
      font-size: 30px; }
    .sectionexcursionesPadre .sectionExcursiones a section {
      width: 304px;
      height: 38px; }
    .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
      width: 304px;
      height: 200px; }
  #sectionTable tbody tr td ul {
    width: 19em; }
  /*EXCURSIONES*/
  .sectionTurismo section .paseos div img {
    border-radius: 10px;
    width: 309px;
    height: 200px; }
  .sectionTurismo section .paseos div p {
    width: 17em;
    margin-top: 20px; }
  /*CLIMA Y BALNEARIOS*/
  .imgClimaybalnearios {
    height: 200px;
    width: 290px; }
  .galeriaImagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; } }

/*RESPONSIVE 1024PX ====================================================================== */
@media only screen and (max-width: 1024px) {
  /*GENERALES*/
  .header {
    height: 52vh; }
  .titulosH1 {
    padding-top: 127px; }
  #margen {
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px; }
  p {
    margin: 10px;
    text-align: justify; }
  #footer {
    padding-top: 25px;
    height: 8em; }
  /*HOME*/
  #main {
    grid-area: main; }
  #aside {
    grid-area: aside; }
  #table {
    grid-area: table; }
  .gridContainer {
    margin-left: 0px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 3fr;
    grid-template-areas: "main main" "table table" "aside aside"; }
  .sectionexcursionesPadre {
    justify-content: space-evenly; }
    .sectionexcursionesPadre .sectionExcursiones {
      padding: 10px; }
      .sectionexcursionesPadre .sectionExcursiones a h3 {
        font-size: 22px;
        left: 15px; }
      .sectionexcursionesPadre .sectionExcursiones a h3:hover {
        font-size: 24px; }
      .sectionexcursionesPadre .sectionExcursiones a section {
        width: 300px; }
      .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
        border-radius: 10px;
        width: 300px;
        height: 195px; }
  #sectionTable {
    margin: 64px; }
    #sectionTable tbody tr td ul {
      width: 17em; }
  #aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10em;
    height: 15em;
    margin: 25px 0px; }
    #aside section {
      margin: 19px; }
  #asideImagen {
    display: none; }
  /*EXCURSIONES*/
  .sectionTurismo section .paseos {
    margin-bottom: 0px;
    justify-content: space-evenly; }
    .sectionTurismo section .paseos div {
      margin-bottom: 26px; }
      .sectionTurismo section .paseos div img {
        border-radius: 10px;
        width: 295px; }
      .sectionTurismo section .paseos div p {
        width: 17em; }
  /*BALNEARIOS*/
  .galeriaImagenes {
    padding: 10px 10px;
    height: 240px; }
    .galeriaImagenes .imgClimaybalnearios {
      height: 190px;
      width: 246px; }
  section div .listaBalnearios {
    padding: 2px 31px; }
    section div .listaBalnearios li {
      width: 176px; }
  /*BLOG*/
  body .container {
    display: none; }
  body #articulosFlex article div h2 {
    width: 20em;
    margin-left: 50px; }
  body #articulosFlex article div .imgBlog {
    margin: 23px 0px;
    border-radius: 10px;
    width: 45em;
    height: 27em; }
  body #articulosFlex article div p {
    text-align: center;
    width: 42em;
    margin: 17px 21px; }
  /*CONTACTO*/
  fieldset {
    margin-bottom: 0px; } }

/*RESPONSIVE 768PX ====================================================================== */
@media only screen and (max-width: 768px) {
  .titulosH1 {
    font-size: 3em;
    padding-top: 161px; }
  .titulosH2 {
    font-size: 20px;
    font-weight: 500;
    margin: 2px 28px; }
  .titulosh3B {
    font-size: 26px; }
  .header {
    height: 52vh; }
  /*HOME*/
  #table {
    display: none; }
  #aside {
    height: 18em; }
  aside section {
    width: 238px; }
    aside section h3 {
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 17px; }
  /*CLIMA Y BALNEARIOS*/
  #climaFlex #margen {
    margin-top: -12px; }
    #climaFlex #margen div #microclima {
      display: none; }
  .galeriaImagenes {
    height: 29em; }
    .galeriaImagenes .imgClimaybalnearios {
      width: 250px;
      height: 182px; }
  section div .listaBalnearios {
    padding: 0px 0px;
    margin: 0px 7px; }
    section div .listaBalnearios li {
      width: 173px; }
      section div .listaBalnearios li h3 {
        font-size: 20 px; }
  /*BLOG*/
  body .container {
    display: none; }
  body #articulosFlex article div h2 {
    width: 12em;
    text-align: center;
    margin: 9px 57px; }
  body #articulosFlex article div .imgBlog {
    margin: 7px;
    border-radius: 10px;
    width: 22em;
    height: 18em; }
  body #articulosFlex article div p {
    text-align: justify;
    width: 21em;
    margin: 14px; } }

/*RESPONSIVE 519PX ====================================================================== */
@media only screen and (max-width: 519px) {
  /*CLIMA Y BALNEARIOS*/
  .galeriaImagenes {
    height: 40em; }
    .galeriaImagenes .imgClimaybalnearios {
      width: 250px;
      height: 182px; }
  aside section {
    width: 189px; }
    aside section h3 {
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 17px; } }

/*RESPONSIVE 411PX ====================================================================== */
@media only screen and (max-width: 411px) {
  /* GENERALES*/
  .header {
    height: 61vh; }
  #margen {
    margin-top: 40px;
    margin-left: 0px; }
  #body {
    width: 100%;
    background-color: whitesmoke; }
  .titulosH1 {
    font-size: 3em;
    padding-top: 177px; }
  .titulosH2 {
    font-size: 18px; }
  .titulosh3B {
    margin-bottom: 28px;
    margin-top: 20px;
    font-size: 26px;
    width: 8em; }
  .titulosH3 {
    font-size: 1.25em; }
  #resumido {
    display: inline; }
  #footer {
    background-color: #e7e7e7;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8em; }
    #footer #redes {
      display: inline-block;
      width: 81px; }
      #footer #redes a img {
        width: 38px; }
    #footer p {
      font-size: 15px;
      margin-bottom: 3em; }
  /*HOME*/
  #main {
    grid-area: main; }
  #aside {
    grid-area: aside; }
  .gridContainer {
    margin-left: 0px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: "main" "aside"; }
  #table {
    display: none; }
  #asideImagen {
    display: none; }
  #botonSubir {
    display: none; }
  #sinresumir {
    display: none; }
  #main section div {
    text-align: justify;
    padding: 8px; }
    #main section div .titulosH2 {
      text-align: center; }
    #main section div p {
      font-size: 14px; }
  #main .sectionexcursionesPadre {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  #aside {
    margin-top: 23px;
    margin-bottom: 0em;
    height: 28em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #aside section {
      width: 238px; }
  /*EXCURSIONES*/
  .sectionTurismo {
    margin-top: 40px;
    margin-left: 0px; }
    .sectionTurismo section {
      padding: 9px 0px; }
      .sectionTurismo section .paseos {
        display: flex;
        flex-direction: row; }
        .sectionTurismo section .paseos div img {
          border-radius: 10px;
          width: 330px;
          height: 215px;
          margin: 0px; }
        .sectionTurismo section .paseos div p {
          width: 20em;
          margin: 0px 0px;
          font-size: 16px;
          text-align: center; }
  /*BALNEARIOS Y CLIMA*/
  #climaFlex #margen {
    margin-top: -12px; }
    #climaFlex #margen div #microclima {
      display: none; }
    #climaFlex #margen p {
      margin: 22px 8px;
      text-align: justify; }
  .galeriaImagenes {
    height: 40em;
    padding: 0px 0px;
    margin-top: 15px; }
  section div .listaBalnearios {
    padding: 0px 0px;
    margin: 0px 32px; }
    section div .listaBalnearios li {
      list-style-type: none;
      width: 173px;
      padding: 7px; }
  /*BLOG*/
  body .container {
    display: none; }
  body #articulosFlex article {
    margin-top: 0px;
    margin-left: 0px; }
    body #articulosFlex article div h2 {
      width: 12em;
      text-align: center;
      margin: 25px 25px; }
    body #articulosFlex article div .imgBlog {
      margin: 7px;
      border-radius: 10px;
      width: 18em;
      height: 14em; }
    body #articulosFlex article div p {
      text-align: justify;
      width: 17em;
      margin: 14px; }
  .card {
    margin: 25px; }
  /*CONTACTO*/
  #contactoFlex {
    margin-bottom: 19px; }
    #contactoFlex fieldset {
      padding: 0px 16px;
      padding-bottom: 109px;
      margin-bottom: -16px; }
      #contactoFlex fieldset legend {
        text-align: center;
        font-size: 19px; } }

/*RESPONSIVE 360PX ====================================================================== */
@media only screen and (max-width: 360px) {
  /* GENERALES*/
  .header {
    height: 50vh; }
  .titulosH1 {
    font-size: 2em;
    padding-top: 185px; }
  .titulosH2 {
    font-size: 17px;
    font-weight: 500;
    margin: 10px 8px;
    text-align: center; }
  .titulosh3B {
    font-size: 21px; }
  #footer p {
    font-size: 12px; }
  /*HOME*/
  #main section div #sinresumir {
    display: none; }
  #main .sectionexcursionesPadre .sectionExcursiones {
    width: 264px; }
    #main .sectionexcursionesPadre .sectionExcursiones a h3 {
      font-size: 23px; }
    #main .sectionexcursionesPadre .sectionExcursiones a h3:hover {
      font-size: 24px; }
    #main .sectionexcursionesPadre .sectionExcursiones a section {
      width: 250px;
      height: 40px; }
    #main .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
      width: 250px;
      height: 182px;
      margin-left: 0em; }
  #aside {
    margin-top: 0px;
    width: 16em;
    height: 17em; }
    #aside section {
      margin: 19px;
      width: 238px; }
      #aside section h3 {
        font-size: 15px; }
      #aside section form label {
        display: none; }
      #aside section form input {
        height: 2em;
        width: 11em;
        font-size: 19px; }
      #aside section p {
        display: none; }
    #aside section ul li {
      font-size: 15px; }
  /*EXCURSIONES*/
  .sectionTurismo section .paseos div img {
    width: 250px;
    height: 182px; }
  .sectionTurismo section .paseos div p {
    width: 16em;
    text-align: justify;
    margin-top: 8px; }
  /*BALNEARIOS y CLIMA*/
  section div .listaBalnearios {
    padding: 0px 0px;
    margin: 0px 7px; }
    section div .listaBalnearios li {
      width: 173px; }
      section div .listaBalnearios li h3 {
        font-size: 20 px; }
  /*BLOG*/
  body .container {
    display: none; }
  body #articulosFlex article {
    width: 277px; }
    body #articulosFlex article div {
      width: 17em; }
      body #articulosFlex article div h2 {
        width: 13em;
        text-align: center; }
      body #articulosFlex article div .imgBlog {
        width: 17em;
        height: 12em; }
    body #articulosFlex article div {
      width: 17em; }
      body #articulosFlex article div p {
        text-align: justify;
        width: 16em;
        margin: 16px; } }

/*RESPONSIVE 280PX ====================================================================== */
@media only screen and (max-width: 280px) {
  /*GENERALES*/
  .header {
    height: 53vh; }
  #margen {
    margin: 18px;
    padding: 0px; }
  .titulosH2 {
    width: 210px; }
  .titulosh3B {
    margin-bottom: 16px;
    margin-top: 21px;
    padding: 0px; }
  #footer p {
    text-align: center; }
  /*HOME*/
  #main .sectionexcursionesPadre .sectionExcursiones {
    width: 248px; }
    #main .sectionexcursionesPadre .sectionExcursiones a h3 {
      font-size: 16px; }
    #main .sectionexcursionesPadre .sectionExcursiones a h3:hover {
      font-size: 17px; }
    #main .sectionexcursionesPadre .sectionExcursiones a section {
      width: 221px;
      height: 36px; }
    #main .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
      width: 221px;
      height: 150px;
      margin-left: 0em; }
  #aside section {
    margin: 11px;
    width: 14em; }
    #aside section h3 {
      font-size: 14px; }
    #aside section form input {
      /*height: 2em;
                    width: 11em;*/
      height: 2em;
      width: 11em;
      font-size: 17px; }
  #aside section ul li {
    font-size: 14px; }
  /*EXCURSIONES*/
  .sectionTurismo section {
    margin: 13px; }
    .sectionTurismo section .paseos {
      width: 12em; }
      .sectionTurismo section .paseos div img {
        width: 221px;
        height: 150px; }
      .sectionTurismo section .paseos div p {
        width: 15em;
        text-align: justify; }
  /*BALNEARIOS Y CLIMA*/
  .galeriaImagenes {
    height: 41em; }
    .galeriaImagenes .imgClimaybalnearios {
      width: 236px;
      height: 185px; }
  section div .listaBalnearios {
    padding: 0px 53px;
    margin: 0px 7px; }
    section div .listaBalnearios li {
      width: 162px; }
  #climaFlex #margen p {
    width: 224px;
    text-align: justify; }
  /*BLOG*/
  body .container {
    display: none; }
  body #articulosFlex article {
    width: 15em; }
    body #articulosFlex article div h2 {
      width: 11em; }
    body #articulosFlex article div .imgBlog {
      margin: 7px;
      border-radius: 10px;
      width: 16em;
      height: 11em; }
    body #articulosFlex article div p {
      text-align: justify;
      width: 14em;
      margin: 14px; } }
