/*RESPONSIVE 1200PX ====================================================================== */

@media only screen and (max-width: 1200px) and (min-width: 412px) {

    /*HOME*/

    .sectionexcursionesPadre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .sectionExcursiones {
            a{
                h3 {
                    font-size: 28px;
                }
                h3:hover{
                    font-size: 30px;
                }
                section {
                    width: 304px;
                    height: 38px;
                }
            }
            .imgExcursionsombra {
                width: 304px;
                height: 200px;
            }
        }
    }

    #sectionTable {       
        tbody {
            tr{
                td{            
                    ul{
                        width: 19em;                   
                    }
                }
            }
        }
    }

    /*EXCURSIONES*/

    .sectionTurismo {
        section {
            .paseos {                
                div {                
                    img {
                        border-radius: 10px;
                        width: 309px;
                        height: 200px;
                    }
                    p {
                        width: 17em;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
   
    /*CLIMA Y BALNEARIOS*/

    .imgClimaybalnearios {
        height: 200px;
        width: 290px;
    }

    .galeriaImagenes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/*RESPONSIVE 1024PX ====================================================================== */

@media only screen and (max-width: 1024px) {
    
    /*GENERALES*/

    
    #margen {
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    p {
        margin: 10px;
        text-align: justify;
    }

    #footer {
        
        padding-top: 25px;
        height: 8em;        
    }


    /*HOME*/

    #main {
        grid-area: main;
    }

    #aside {
        grid-area: aside;
    }

    #table {
        grid-area: table;
    }

    .gridContainer {        
        margin-left: 0px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 2fr; 
        grid-template-rows: 3fr; 

        grid-template-areas:
        
        "main main"
        "table table"
        "aside aside"    
    }

    .sectionexcursionesPadre {
        justify-content: space-evenly;

        .sectionExcursiones {
            padding: 10px;

            a {
                h3{
                    font-size: 22px;
                    left: 15px;
                }
                h3:hover {
                    font-size: 26px;
                }
                section{
                    width: 300px;
                }            
            }

            .imgExcursionsombra {
                border-radius: 10px;
                width: 300px;
                height: 195px;
            }
        }

    }

    #sectionTable {
        margin: 64px;
        tbody {
            tr{
                td{
                    ul{
                        
                        width: 17em;
                    }
                }
            }
        }
    
    }
       
    #aside{        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 10em;
        
        height: 15em;
        margin: 25px 0px;
                 
        section {
            
            margin: 19px;            
        }
    }

    #asideImagen {
        display: none;
    }
    
    /*EXCURSIONES*/

    
    .sectionTurismo {
        section {      
            .paseos {  
                margin-bottom: 0px;     
                justify-content: space-evenly;    
                div {
                    margin-bottom: 26px; 
                    img {
                        border-radius: 10px;
                        width: 295px;
                    }
                    
                    p {
                        width: 17em;
                    }
                }
            }
        }
    }   
    

    /*BALNEARIOS*/

    .galeriaImagenes{        
        padding: 10px 10px;        
        height: 240px;
        .imgClimaybalnearios {
            height: 190px;
            width: 246px;                 
        }    
    }    
    
    section {        
        div {
            .listaBalnearios{
                padding: 2px 31px;
                li{                    
                    width: 176px;                    
                }
            }
        }
    }
    
    /*BLOG*/

    body {
        .container {
            display: none
        }

        #articulosFlex {
            article {               
                div {
                    h2{
                        width: 20em;
                        margin-left: 50px;
                    }
                    
                    .imgBlog {
                        margin: 23px 0px;
                        border-radius: 10px;
                        width: 45em;
                        height: 27em;
                    }
                }

                div{
                    p{
                        text-align: center;                        
                        width: 42em;
                        margin: 17px 21px;
                    }
                }
            }
        }
    }
  
    /*CONTACTO*/

    fieldset {     
        margin-bottom: 0px; 
    }   
    
}

/*RESPONSIVE DE 892PX A 768PX*/

@media only screen and (max-width: 892px) and (min-width: 768px)  {
    .titulosH1 {
        margin-top: 0em;
    }


}

/*RESPONSIVE 768PX ====================================================================== */

@media only screen and (max-width: 768px) {

    .titulosH1 {
        font-size: 3em;
        padding-top: 161px;
    }

    .titulosH2 {    
        font-size: 20px;
        font-weight: 500;
        margin: 2px 11px;       
    }

    .titulosh3B {
        font-size: 26px;
    }

    
    /*HOME*/

    #table {
        display: none;
    }

    #aside{
        height: 18em;
    }

    aside {      
        section {        
            width: 238px;
            h3{
                margin-bottom: 10px;
                font-family: 'Roboto', sans-serif;
                font-size: 17px;            
            }        
        }
    }

    /*CLIMA Y BALNEARIOS*/

    #climaFlex{
        #margen {
            margin-top: -12px;
            div{
                #microclima {
                    display: none;                    
                }
            }
        }        
    }

    .galeriaImagenes{
        height: 29em;
        .imgClimaybalnearios {
            width: 250px;
            height: 182px; 
        }
    }    
 
    section {        
        div {
            .listaBalnearios{
                padding: 0px 0px;
                margin: 0px 7px;
                li{                    
                    width: 173px;
                    h3{
                        font-size: 20 px;
                    }
                }
            }
        }
    }  
    
    
    /*BLOG*/    
    
    body {
        .container {
            display: none
        }

        #articulosFlex {
            article {               
                div {
                    h2{
                        width: 12em;
                        text-align: center;
                        margin: 9px 57px;
                    }
                    
                    .imgBlog {
                        margin: 7px;
                        border-radius: 10px;
                        width: 22em;
                        height: 18em;
                    }
                }

                div{
                    p{
                        text-align: justify;
                        width: 21em;
                        margin: 14px; 
                    }
                }
            }
        }
    }
}

/*RESPONSIVE 519PX ====================================================================== */

@media only screen and (max-width: 519px) {
    

    /*CLIMA Y BALNEARIOS*/

    .galeriaImagenes{
        height: 40em;
        .imgClimaybalnearios {
            width: 250px;
            height: 182px; 
        }
    }    

    aside {      
        section {  
            width: 189px;      
            h3{
                margin-bottom: 10px;
                font-family: 'Roboto', sans-serif;
                font-size: 17px;            
            }        
        }
    }
}

/*RESPONSIVE 411PX ====================================================================== */

@media only screen and (max-width: 411px) {

    /* GENERALES*/    

   
    #margen{
        margin-top:  40px;
        margin-left:  0px;
    }     
    
    #body {
        width: 100%;
        background-color: whitesmoke;
    }
            
    .titulosH1 {
        font-size: 3em;      
    }

    .titulosH2 {
        font-size: 18px;           
    }

    .titulosh3B {
        margin-bottom: 28px;
        margin-top: 20px;
        font-size: 26px;        
        width: 8em;
    }

    .titulosH3 {
        font-size: 1.25em;
    }

    #resumido {
        display:inline;
    }

    
    #footer {
        background-color: rgb(231, 231, 231);        
        padding-top: 20px;        
                
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 8em;

        #redes {
            display: inline-block;
            width: 81px; 

            a {
                img {
                    width: 38px; 
                }
            }
        }             
        
        p{           
           font-size: 15px;
            margin-bottom: 3em;
        }
    }

    /*HOME*/

    #main {
        grid-area: main;
    }

    #aside {
        grid-area: aside;
    }

    .gridContainer {        
        margin-left: 0px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 2fr; 

        grid-template-areas:        
        "main"
        "aside"
    }
    
    #table {
        display: none;
    }

    #asideImagen {
        display: none;
    }
        
    #botonSubir {
        display: none;
    }               
    
    #sinresumir{
        display: none;
    }
    
    #main {
        section {
            div {
                text-align: justify;
                padding: 8px;

                .titulosH2{
                    text-align: center;
                }

                p{
                    font-size: 14px;                    
                }               
            }
        }    

        .sectionexcursionesPadre {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            
            
        }
    }    

    #aside{
        margin-top: 23px;
        margin-bottom: 0em;
        height: 28em;
        
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;      
        
        section {
            width: 238px;
        }
        
    }
 
    /*EXCURSIONES*/

    .sectionTurismo {        
        margin-top:  40px;
        margin-left:  0px;
        
        section {
            padding: 9px 0px;
            .paseos {     
                display: flex;
                flex-direction: row;                

                div {                    
                    img {
                        border-radius: 10px;                        
                        width: 330px;
                        height: 215px;
                        margin: 0px;                        
                    }

                    p{                        
                        width: 20em;          
                        margin: 0px 0px;
                        font-size: 16px;                        
                        text-align: center;
                    }
                }               
            }
        }
    }

    /*BALNEARIOS Y CLIMA*/

    #climaFlex{
        #margen {
            margin-top: -12px;
            div{
                #microclima {
                    display: none;                    
                }
            }

            p {                
                margin: 22px 8px;
                text-align: justify;

            }
        }
    }    

    .galeriaImagenes{        
        height: 40em;
        padding: 0px 0px;
        margin-top: 15px;
    }    
    
    section {        
        div {
            .listaBalnearios{ 
                padding: 0px 0px;
                margin: 0px 32px;
                
                li{
                    list-style-type: none;
                    width: 173px;
                    padding: 7px;
                }
            }
        }
    }
    
    /*BLOG*/

    body {
        .container {
            display: none
        }

        #articulosFlex {
            article {   
                margin-top: 0px;
                margin-left: 0px;            
                div {
                    h2{
                        width: 12em;
                        text-align: center;
                        margin: 25px 25px;
                    }
                    
                    .imgBlog {
                        margin: 7px;
                        border-radius: 10px;
                        width: 18em;
                        height: 14em;
                    }
                }

                div{
                    p{
                        text-align: justify;
                        width: 17em;
                        margin: 14px;   
                    }
                }
            }
        }
    }       

    .card {
        margin: 25px;
    }

    /*CONTACTO*/

    #contactoFlex {
        margin-bottom: 19px;

        fieldset {
            padding: 0px 16px;
    
            padding-bottom: 109px;
            margin-bottom: -16px;
    
            legend {
                text-align: center;
                font-size: 19px;
            }
        }
    }   
}

/*RESPONSIVE 360PX ====================================================================== */

@media only screen and (max-width: 360px) {

    /* GENERALES*/

    .titulosH1 {
      font-size: 2em;   
      height: 8em;
    }

    .titulosH2 {
        font-size: 17px;
        font-weight: 500;
        
        margin: 10px 8px;  
        text-align: center;
    }

    .titulosh3B {        
        font-size: 21px;
    }

    
    #footer {       
        p{
          font-size: 12px;          
        }
    }

    

    /*HOME*/  
                   
    #main {
        section {
            div {
                #sinresumir {
                    display: none;
                   
                }
            }
        }    

        .sectionexcursionesPadre {            
            .sectionExcursiones {     
                width: 264px;
                a {
                    h3{
                        font-size: 23px;
                    }
                    h3:hover {
                        font-size: 26px;
                    }
                    section{
                        width: 250px;
                        height: 40px;
                    }                
                }

                .imgExcursionsombra {
                    width: 250px;
                    height: 182px;
                    margin-left: 0em;
                }
            }
        }
    }
   
    #aside{
        margin-top: 0px;                 
        width: 16em;
        height: 17em;

        section {
            margin: 19px;
            width: 238px;
            h3 {
                font-size: 15px;
            }

            form {
                label {
                    display: none;
                }
                input {
                    height: 2em;
                    width: 11em;
                    font-size: 19px;
                }
            }           
            p{
                display: none;
            }
        }    
 
        section {
            ul {
                li {                   
                    font-size: 15px;
                }
            }
        }
    }

    /*EXCURSIONES*/

    .sectionTurismo {        
        section {
           .paseos {         
                div {                    
                    img {                        
                        width: 250px;
                        height: 182px;                        
                    }
                    p{
                        width: 16em;  
                        text-align: justify;   
                        margin-top: 8px;                                                           
                    }
                }                
            }
        }
    }
   
    /*BALNEARIOS y CLIMA*/
   
    section {        
        div {
            .listaBalnearios{
                padding: 0px 0px;
                margin: 0px 7px;
                li{                    
                    width: 173px;
                    h3{
                        font-size: 20 px;
                    }
                }
            }
        }
    }   
    
    /*BLOG*/

   

    body {
        .container {
            display: none
        }

        #articulosFlex {
            article {   
                width: 277px;
                div {
                    width: 17em;
                    h2{
                        width: 13em;
                        text-align: center;
                       
                        
                    }
                    
                    .imgBlog {
                                
                        width: 17em;
                        height: 12em;
                    }
                }

                div{
                    width: 17em;
                    p{
                        text-align: justify;
                        width: 16em;
                        margin: 16px;
                        
                    }
                }
            }
        }
    }       

   
}

/*RESPONSIVE 280PX ====================================================================== */

@media only screen and (max-width: 280px) {

    /*GENERALES*/
   
    #margen {
        margin: 18px;
        padding: 0px;
    }

    .titulosH2 {
        width: 210px;
        
    }

    .titulosh3B {
        margin-bottom: 16px;
        margin-top: 21px;        
        padding: 0px;
    }

    #footer {       
        p{
            
            text-align: center;         
        }
    }

    /*HOME*/ 

    #main {
        .sectionexcursionesPadre {            
            .sectionExcursiones {     
                width: 248px;
                a {
                    h3{
                        font-size: 16px;
                    }
                    h3:hover {
                        font-size: 19px;
                    }
                    section{
                        width: 221px;
                        height: 36px;
                    }                
                }

                .imgExcursionsombra {
                    width: 221px;
                    height: 150px;
                    margin-left: 0em;
                }
            }
        }
    }
   
    #aside{           
        section {
            margin: 11px;
            width: 14em;
            h3 {
                font-size: 14px;
            }

            form {
                input {
                    height: 2em;
                    width: 11em;
                    font-size: 17px;
                }
            }          
        }   

        section {
            ul {
                li {                   
                    font-size: 14px;
                }
            }
        }
    }
    
    /*EXCURSIONES*/

    .sectionTurismo {  
                           
        section {       
            margin: 13px;      
            .paseos {     
                width: 12em;   
                div {                    
                    img {
                        width: 221px;
                        height: 150px;                 
                    }
                    p{                        
                        width: 15em;
                        text-align: justify;
                    }
                }               
            }
        }
    }

    /*BALNEARIOS Y CLIMA*/

    .galeriaImagenes{
        height: 41em;
        .imgClimaybalnearios {
            width: 236px;
            height: 185px;
        }
    }    
 
    section {        
        div {
            .listaBalnearios{
                padding: 0px 53px;
                margin: 0px 7px;
                li{                    
                    width: 162px;                    
                }
            }
        }
    }   

    #climaFlex {
        #margen {
            p{
                width: 224px;
                text-align: justify;
            }
        }
    }
    
    /*BLOG*/


    body {
        .container {
            display: none
        }

        #articulosFlex {
            article {   
                width: 15em;
                div {
                    h2{
                        width: 11em;
                    }
                    .imgBlog {
                        margin: 7px;
                        border-radius: 10px;
                        width: 16em;
                        height: 11em;
                    }
                }

                div{                    
                    p{
                        text-align: justify;
                        width: 14em;
                        margin: 14px;
                    }
                }
            }
        }
    }       
}
