/*RESPONSIVE 1200PX ====================================================================== */

@media only screen and (max-width: 1200px) and (min-width: 412px) {

    .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
            
        width: 304px;
        height: 200px;
    }

    .sectionexcursionesPadre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .sectionexcursionesPadre .sectionExcursiones a h3 {
        font-size: 28px;
    }

    .sectionexcursionesPadre .sectionExcursiones a h3:hover {
        font-size: 30px;
    }

    .sectionexcursionesPadre .sectionExcursiones a section {
        width: 304px;
        height: 38px;
    }

    #sectionTable tbody tr td ul {
        width: 19em;
    }

    .sectionTurismo section .paseos div img {
        border-radius: 10px;
        width: 309px;
        height: 200px;
    }

    .sectionTurismo section .paseos div p {
        width: 17em;
        margin-top: 20px;
    }

    .imgClimaybalnearios {
        height: 200px;
        width: 290px;
    }

    .galeriaImagenes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/*RESPONSIVE 1024PX ====================================================================== */

@media only screen and (max-width: 1024px) {
    
    /*GENERALES*/

    #body {
        background-color: whitesmoke;
    }

    .header {
        height: 52vh;
    }

    .titulosH1 {
        padding-top: 127px;
    }

    #margen {
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    p{
        text-align: justify;
        margin: 4px;
    }

    #footer {
        background-color: #e7e7e7;
        box-shadow: 0px -5px #74726c24;
        padding-top: 25px;
        height: 8em;
        
    }


    /*HOME*/

    #main {
        grid-area: main;
    }

    #aside {
        grid-area: aside;
    }

    #table {
        grid-area: table;
    }

    .gridContainer {
        
        margin-left: 0px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 2fr; 
        grid-template-rows: 3fr; 

        grid-template-areas:
        
        "main main"
        "table table"
        "aside aside"
    
    }

    .sectionexcursionesPadre {

        justify-content: space-evenly;
        
        .sectionExcursiones {
            padding: 10px;

            a {
                h3{
                    font-size: 22px;
                    left: 15px;
                }
                h3:hover {
                    font-size: 24px;
                }
                section{
                    width: 300px;
                }
            
            }

            .imgExcursionsombra {
                border-radius: 10px;
                width: 300px;
                height: 195;
            }
        }

    }

    #sectionTable {
        margin: 64px;
        tbody {
            tr{
                td{
                    ul{
                        width: 22em;
                    }
                }
            }
        }
    
    }

       
    #aside{
        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 10em;
        
        height: 15em;
        margin: 25px 0px;
         
        
        section {
            width: 289px;
            margin: 19px;
            
        }

    }

    #asideImagen {
        display: none;
    }
    
    /*TURISMO*/

    
    .sectionTurismo {
        section {      
            .paseos {  
                margin-bottom: 0px;     
                justify-content: space-evenly;    
                div {
                    margin-bottom: 26px; 
                    img {
                        border-radius: 10px;
                        width: 295px;
                    }
                    
                    p {
                        width: 17em;
                    }
                }
            }
        }
    }   
    

    /*BALNEARIOS*/

    .galeriaImagenes{
        
        padding: 10px 10px;        
        height: 240px;

        .imgClimaybalnearios {
            height: 190px;
            width: 246px;
                 
        }
    
    }    

    
    section {
        
        div {
            .listaBalnearios{
                padding: 2px 31px;
                li{                    
                    width: 176px;                    
                }
            }
        }
    }
    
    /*BLOG*/

    body {
        .container {
            display: none
        }

        #articulosFlex {
            article {                
                
                div {
                    h2{
                        width: 20em;
                        margin-left: 50px;
                    }
                    
                    .imgBlog {
                        margin: 23px 0px;
                        border-radius: 10px;
                        width: 45em;
                        height: 27em;
                    }
                }

                div{
                    p{
                        text-align: center;                        
                        width: 42em;
                        margin: 17px 21px;
                    }
                }
            }
        }
    }
  
    /*CONTACTO*/

    fieldset {
     
        margin-bottom: 0px; 
    }   
    
}

/*RESPONSIVE 768PX ====================================================================== */
@media only screen and (max-width: 768px) {

    .titulosH1 {
        font-size: 3em;
        padding-top: 161px;
    }


    #table {
        display: none;
    }

    #aside{
        height: 18em;
    }


    .galeriaImagenes{
        height: 29em;
        .imgClimaybalnearios {
            width: 250px;
            height: 182px; 
        }
    }    
 
    section {        
        div {
            .listaBalnearios{
                padding: 0px 0px;
                margin: 0px 7px;
                li{                    
                    width: 173px;
                    h3{
                        font-size: 20 px;
                    }
                }
            }
        }
    }  
    
    
    /*blog*/

    body #articulosFlex article div h2 {
        width: 20em;
        text-align: center
    }

    body #articulosFlex article div .imgBlog {
        margin: 7px;
        border-radius: 10px;
        width: 22em;
        height: 18em;
    }

    body #articulosFlex article div p {
        text-align: justify;
        width: 21em;
        margin: 14px;
    }

    body #articulosFlex article div h2 {
        width: 12em;
        text-align: center;
        margin: 0px;
    }
}

/*RESPONSIVE 519PX ====================================================================== */
@media only screen and (max-width: 519px) {
    .galeriaImagenes{
        height: 40em;
        .imgClimaybalnearios {
            width: 250px;
            height: 182px; 
        }
    }    
}

/*RESPONSIVE 411PX ====================================================================== */
@media only screen and (max-width: 411px) {


    /* GENERALES*/
    

    .header {
        height: 61vh;
    }

    #margen{
        margin-top:  40px;
        margin-left:  0px;
    } 
    
    
    #body {
        width: 100%;
        background-color: whitesmoke;
    }
    
        
    .titulosH1 {
        font-size: 3em;
        padding-top: 163px;
    }

    .titulosH2 {
        font-size: 18px;
           
    }

    .titulosh3B {
        margin-bottom: 1px;
        margin-top: 55px;
        font-size: 26px
    }

    .titulosH3 {
        font-size: 1.25em;
    }
    
    #footer {
        background-color: rgb(231, 231, 231);
        box-shadow: 0px -5px #74726c24;
        padding-top: 20px;        
                
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 8em;

        #redes {
            display: inline-block;
            width: 81px; 

            a {
                img {
                    width: 38px; 
                }
            }
        }             
        
        p{           
           font-size: 15px;
            margin-bottom: 3em;
        }
    }

    /*HOME*/

    #main {
        grid-area: main;
    }

    #aside {
        grid-area: aside;
    }

    .gridContainer {
        
        margin-left: 0px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 2fr; 


        grid-template-areas:
        
        "main"
        "aside"
    
    }
    
    #table {
        display: none;
    }

    #asideImagen {
        display: none;
    }
        
    #botonSubir {
        display: none;
    }                   
    
    #main {
        section {
            div {
                p {
                    display: none;
                }
            }
        }    

        .sectionexcursionesPadre {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            
            .sectionExcursiones {
                width: 322px;
                padding: 9px;
                
                position: relative;

                a {
                    h3{
                       
                       font-size: 30px;
                    }
                    h3:hover {
                        
                        font-size: 32px;
                    }
                    section{
                       
                        width: 300px;
                        height: 48px;
                    }
                
                }
                    
                .imgExcursionsombra {                   
                    width: 300px;
                    height: 215px;

                    margin-left: 0em;                    
                }
            }
        }
    }    

    #aside{
        margin-top: 23px;
        margin-bottom: 0em;
        height: 20em;

        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
            
        
        section {            
            margin: 38px;
            h3 {
                font-size: 20px;
            }

            form {
                label {
                    display: none;
                }
                input {
                    height: 2em;
                    width: 13em;
                    font-size: 20px;
                }
            }
            
            p{
                display: none;
            }
        }

        section {
            
            h3 {
                font-size: 20px;
            }

            p{
                display: none;
            }

            ul{
                li{
                    font-size: 21px;
                    a{
                        text-decoration: none;
                    }
                }
            }

        }
    }
 
    /*EXCURSIONES*/
    .sectionTurismo {
        
        margin-top:  40px;
        margin-left:  0px;
        
        section {
            padding: 9px 0px;

            .paseos {
                
                
                                
                display: flex;
                flex-direction: row;
                

                div {                    
                    img {
                        border-radius: 10px;                        
                        width: 330px;
                        height: 215px;
                        margin: 0px;                        
                    }

                    p{                        
                        width: 20em;          
                        margin: 0px 0px;
                        font-size: 16px;                        
                        text-align: center;
                    }
                }               
            }
        }
    }

    /*BALNEARIOS y CLIMA*/

    #climaFlex{
        #margen {
            margin-top: -12px;
            div{
                #microclima {
                    display: none;                    
                }
            }

            p {                
                margin: 22px 0px;
                text-align: justify;
            }
        }
    }    

    .galeriaImagenes{        
        height: 48em;
        padding: 0px 0px;

        .imgClimaybalnearios {
            width: 300px;
            height: 215px;

        }
    
        
    }    
    
    section {        
        div {
            .listaBalnearios{ 
                padding: 0px 0px;
                margin: 0px 32px;
                
                li{
                    list-style-type: none;
                    width: 173px;
                    padding: 7px;
                }
            }
        }
    }
    
    

    /*BLOG*/

    body #articulosFlex article div h2 {
        width: 12em;
        text-align: center;
        margin: 0px;
    }

    body #articulosFlex article div .imgBlog {
        margin: 7px;
        border-radius: 10px;
        width: 18em;
        height: 14em;
    }

    article {
        margin-top: 0px;
        margin-left: 0px;
    }

    body #articulosFlex article div p {
        text-align: justify;
        width: 17em;
        margin: 14px;
    }

 

    /*article {
        margin-top: 0px;
        margin-left: 0px;
        
        div{
            .imgBlog{
                margin: 7px;
                border-radius: 10px;
                width: 15em;
                height: 11em;
            }
        }
        div{
            p{
                text-align: justify;
                width: 14em;
                margin: 14px;
            }
        }
    }*/

    .card {
        margin: 25px;
    }

    /*CONTACTO*/

    #contactoFlex {
        margin-bottom: 19px;

        fieldset {
            padding: 0px 16px;
    
            padding-bottom: 109px;
            margin-bottom: -16px;
    
            legend {
                text-align: center;
                font-size: 19px;
            }
        }
    }   
}

/*RESPONSIVE 360PX ====================================================================== */

@media only screen and (max-width: 360px) {

    /* GENERALES*/

    .header {
        height: 54vh;
    }

    .titulosH1 {
      font-size: 2em;   
      padding-top: 185px; 
    }

    .titulosH2 {
        font-size: 15px;
        width: 258px;
        margin: 3px;        
    }

    
  
    #footer {       
        p{
          font-size: 12px;          
        }
    }

    /*HOME*/  
                   
    #main {
        section {
            div {
                p {
                    display: none;
                }
            }
        }    

        .sectionexcursionesPadre {            
            .sectionExcursiones {     
                width: 264px;

                a {
                    h3{
                        font-size: 23px;
                    }
                    h3:hover {
                        font-size: 24px;
                    }
                    section{
                        width: 250px;
                        height: 40px;
                    }                
                }

                .imgExcursionsombra {
                    width: 250px;
                    height: 182px;
                    margin-left: 0em;
                }
            }
        }
    }
   

    #aside{
        margin-top: 0px;     
        width: 15em;                 
        section {
            margin: 19px;
            width: 238px;
            h3 {
                font-size: 15px;
            }

            form {
                label {
                    display: none;
                }
                input {
                    height: 2em;
                    width: 11em;
                    font-size: 19px;
                }
            }           

            p{
                display: none;
            }
        }    

       
            
        
        section {
            ul {
                li {
                   
                    font-size: 15px;
                }
            }
        }
    }

    /*EXCURSIONES*/
    .sectionTurismo {        
        section {
           .paseos {               
                          
                div {                    
                    img {                        
                        width: 250px;
                        height: 182px;                        
                    }
                    p{
                        width: 16em;  
                        text-align: justify;
                                                              
                    }
                }                
            }
        }
    }
   
    /*BALNEARIOS y CLIMA*/

    

    .galeriaImagenes{
        height: 46em;
        .imgClimaybalnearios {
            width: 271px;
            height: 204px; 
        }
    }    
 
    section {        
        div {
            .listaBalnearios{
                padding: 0px 0px;
                margin: 0px 7px;
                li{                    
                    width: 173px;
                    h3{
                        font-size: 20 px;
                    }
                }
            }
        }
    }   
    
    /*BLOG*/

    

    .container {
        display: none;
    }

    body #articulosFlex article div h2 {
        width: 15em;
        text-align: center;
        margin: 0px;
    }



    /*article {
        width: 19em;        
        
        div{
            .imgBlog{       
                margin: 20px;         
                width: 14em;
                height: 10em;
            }
        }
        div{
            p{                
                text-align: justify;
                width: 15em;
                margin: 37px;
            }
        }
    }  */ 
    article {
        width: 19em;
    }

    article div .imgBlog {
        margin: 20px;         
        width: 14em;
        height: 10em;
    }

    article div p {
        text-align: justify;
        width: 15em;
        margin: 37px;
    }

    article div {
        width: 19em;
    }
}


/*RESPONSIVE 280PX ====================================================================== */
@media only screen and (max-width: 280px) {

    .header {
        height: 53vh;
    }

   
    #margen {
        margin: 27px;
        padding: 0px;
    }
    
    #main .sectionexcursionesPadre .sectionExcursiones .imgExcursionsombra {
        width: 221px;
        height: 150px;
        margin-left: 0em;

        
    }

    #main .sectionexcursionesPadre .sectionExcursiones a section {
        width: 221px;
        height: 36px;
    }

    #main .sectionexcursionesPadre .sectionExcursiones a h3 {
        font-size: 16px;
    }

    #main .sectionexcursionesPadre .sectionExcursiones a h3:hover {
        font-size: 17px;
    }

    
    #main .sectionexcursionesPadre .sectionExcursiones {
        
        width: 217px;
    }

    .titulosH2 {
        width: 210px;
    }

    #aside section h3 {
        font-size: 14px;
    }

    #aside section {
        margin: 11px;
        width: 14em;
    }

    #aside section form input {
        height: 2em;
        width: 11em;
    }

  
    #aside section form input {
        height: 2em;
        width: 11em;
        font-size: 17px;
    }

    #aside section ul li {
        font-size: 14px;
    }

    #footer p {
        font-size: 15px;
        text-align: center;
    }

    /*turismo*/

    .sectionTurismo section .paseos div p {
        width: 15em;
        text-align: justify;
    }

    .sectionTurismo section .paseos div img {
        width: 221px;
        height: 150px;
    }

    .sectionTurismo section .paseos {
        width: 12em;
    }


    

    /*balnearios*/

    .galeriaImagenes .imgClimaybalnearios {
        width: 236px;
        height: 185px;
    }


    section div .listaBalnearios li {
        width: 162px;
    }

    section div .listaBalnearios {
        padding: 0px 53px;
        margin: 0px 7px;
    }

    .galeriaImagenes {
        height: 41em;
    }

    /*clima */ 
    #climaFlex #margen p {
        width: 224px;
        
        text-align: justify;
    }

    /*blog*/
    .container {
        display: none;
    }

    article {
        width: 15em;
    }


    body #articulosFlex article div .imgBlog {
        margin: 7px;
        border-radius: 10px;
        width: 14em;
        height: 11em;
    }


    body #articulosFlex article div p {
        text-align: justify;
        width: 14em;
        margin: 14px;
    }


}
