@import "variables";
@import "generales";
@import "error";




//CLASS Y ID//

.titulosH1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500em ;
    margin-top: 1em;
    padding-top: 195px;
    text-align: center;
    /*esto agrege*/
    height: 6em;
}

.titulosH2 {     
    font-family: 'Roboto', sans-serif;    
    font-weight: 400 ;
    margin: 8px;
}

.titulosh3B {
    
    margin-top: ($margenarriba/2)-10 ;
    margin-bottom: ($margenabajo/2)-10;
    font-family: 'Roboto', sans-serif;
    color: #551400;
    font-size: 2em;
    font-style: italic;
    font-weight: 500;
    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425);    

    width: 8em;
    text-align: center;
    background: linear-gradient(131deg, rgba(252,252,252,1) 3%, rgba(237,237,237,1) 15%, rgba(213,213,213,0.6166841736694677) 82%, rgba(255,255,255,1) 100%);
}


.titulosH3 {
    color: #66593f;   
    font-family: 'Roboto', sans-serif;    
    font-weight: 550 ;
    font-style:italic;

    text-align: left;
    text-transform: uppercase;    
}


#margen{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;    
} 

p{
    margin: 1rem;    
}

#resumido {
    display: none;
}

p {
    text-align: justify;
}


/*PAGE HOME*/

/*declarando grid area*/
#header {
    grid-area: header;
}

#main {
    grid-area: main ;
}

#aside {
    grid-area: aside;
}

#table{
    grid-area: table;
}



/*grid container*/
.gridContainer {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap:30px ;
      
    grid-template-areas:
    "main main main"
    "table table aside"
    
}

.sectionexcursionesPadre{
    width: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: center;

    .sectionExcursiones {
        padding: 12px;
        position: relative;

        a{
            h3 {
                color: white;
                position: absolute;
                bottom: 25px;
                left: 22px;
                text-align: center;
                letter-spacing: 5px;

                z-index: 2;

                font-size: 40px;
                font-weight: 500 ;
            }

            h3:hover{
                font-size: 43px;
                font-weight: 500 ;
            }

            section {
                width: 368px;
                height: 35px;
                margin-bottom: 23px;
                
                padding: 3px;
                background-color: #e77e0185 ;
                

                z-index: 1;

                position: absolute;/*tmb  su relative .sectionexcursiones*/
                bottom: 4px;
            }
        }

        .imgExcursionsombra {
            border-radius: 10px; 
            width: 23em; 
            height: 15em;
            box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425);
        }

    }
}



#sectionTable {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;

    caption {
        font-family: 'Roboto', sans-serif;
        font-size: 1,7em;
        font-weight: 500 ;
        font-style:italic;

        caption-side: bottom;
        color: #66593f;
        text-align: right;
        letter-spacing: 1px;
    }

    thead {
        tr {
            th{
                color:#551400 ;
            }
        }
    }
    
    tbody {
        tr{
            td{
                background-color: #e0e0e087;
                width: 10em;
                text-align: center;

                ul{
                    width: 24em;
                    margin-left : 2em;  

                    li{
                        color: #e77e01;
                        text-align: left;

                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

}


aside {
    
    justify-self: center;

    margin-top: 60px;  
    width: 20em;
    height: 45em;

    section {
        width: 18em;
        h3{
            
            margin-bottom: 10px;

            font-family: 'Roboto', sans-serif;
            font-size:1.25em;
            font-weight: 550 ;
            font-style:italic;

            text-align: left;
            text-transform: uppercase;
        }

        
    }

    section {

        ul{
            li{
                
                a{
                    color: #551400;
                }
            }
        }

    }
}




/*PAGE TURISMO*/



.card:hover{
    background-color: rgba(56, 56, 56, 0.048);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.116);
}

.sectionTurismo {
    margin-top: 70px;
    
    background-color:whitesmoke;

    
    section {

        padding: 10px 0px;

        .paseos {  
            margin-top: 30px;
            margin-bottom: 30px;
            
        
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            justify-content: space-between;
        
            div {
                margin-bottom: 30px;
                img {
                    border-radius: 10px; 
                    width: 368px; 
                    height: 240px;
                }
                img:hover{
                    box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.425);
                }

                p {
                    width: 20em ;
                    margin-top: 20px;
                    text-align: justify;
                }
            }
        }
    }
}




/*PAGE BALNEARIOS*/

.imgClimaybalnearios {
    height: 15em;
    width: 21em;
    border-radius: 10px; 
}

.imgClimaybalnearios:hover {
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.425);
}


section {   

    div {
        .listaBalnearios{
            
            padding: 19px 81px;
            margin: 0px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;    
            justify-content: space-evenly;         

            li{
                list-style-type: none;
                width: 236px;
                height: 100px;
                padding-left: 27px;

                h3{
                    color: #551400 ;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1,7em;
                    font-weight: 500 ;
                    font-style:italic;

                    text-align: left;
                }

                a{
                    color: #e77e01 ;
                
                }
            }
        
        }
    }

}

/*PAGE CLIMA*/

.galeriaImagenes {
    padding: 26px 70px;
    margin: 0px 0px;
    height: 300px; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#climaFlex {
    display: flex;
    flex-direction: column;
}

#microclima{ 
    animation-name: microclimaAnimacion;
    
    animation-iteration-count: infinite;

    animation-timing-function: linear; 

    animation-duration: 2s;

    animation-delay: 1s;

    height: 50px; 
}

/*ANIMACION DE H2*/
@keyframes microclimaAnimacion {
    0% {
        color: #551400;

        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        font-weight: 400 ;
        

        text-align: left;
    }

    20% { 
        font-size: 34px;
        font-weight: 450 ;
        color: rgb(109, 74, 9);
    }

    40% {
        font-size: 36px;
        font-weight: 450 ;
        color: #e77e01;
    }

    60% {
        font-size: 34px;
        font-weight: 450 ;
        color: rgb(109, 74, 9);
    }

    100% {
       
        font-size: 32px;
        font-weight: 450 ;
        color: #551400;
    }

    
}

/*PAGE BLOG*/

.container {
    margin-top: 25px;
    margin-bottom: 40px;
}

.fondoBlog {
    background-color:whitesmoke
}

#articulosFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


article {       
    margin-top: 20px;
    margin-bottom: 20px;

    div {
        h2 {
            text-align: center;            
        }

        .imgBlog { 
            margin: 25px 0px;
            padding: 0px;
            border-radius: 10px;    
            width: 50em; 
            height: 30em;
        }
        
        .imgBlog:hover {              
            border:3px solid #e77e01 ;         
        }
    }

    div {
        p{
            text-align: center;
            width: 48em;
        }
    }

}

/*PAGE CONTACTO*/

#contactoFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#interesado {
    color: #e77e01 ;
}

fieldset {
    background: white;
 
    box-shadow: -2px 1px 11px rgb(0 0 0 / 43%);

    padding: 5%;
   
    legend {
        margin-top: 30px;
        margin-bottom: 50px;
        /* width: 68%; */
        display: inline-block;
    }

    form {
        margin: 3%;
        width: 39%;
    }

}

@import "responsive";




















